<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MailChimpAPIconfig" type="PerceptiveMCAPI.MCAPISettings, PerceptiveMCAPI"/>
    <section name="resizer" type="ImageResizer.ResizerSection"/>
  </configSections>
  <connectionStrings>
    <add name="pigeoncms" connectionString="Data Source=.\ex20082;Initial Catalog=pigeoncms;Persist Security Info=True;User ID=sa;Pwd=sasasa777" providerName="System.Data.SqlClient"/>
    <add name="demo" connectionString="Data Source=.\ex20082;Initial Catalog=demo;Persist Security Info=True;User ID=sa;Pwd=sasasa777" providerName="System.Data.SqlClient"/>
    <add name="Dev" connectionString="Data Source=.\ex20082;Initial Catalog=dev;User ID=sa;Pwd=sasasa777" providerName="System.Data.SqlClient"/>
    <add name="picce-demo" connectionString="Data Source=aqweb12;Initial Catalog=pigeon_test;Persist Security Info=True;User ID=sa;Pwd=KHFKJ87653shdgf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="IsPigeonBundle" value="true"/>
    <add key="ConnectionStringName" value="picce-demo"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="AddPageSuffix" value="false"/>
    <add key="TabPrefix" value="dev_"/>
    <add key="DocsPublicPath" value="~/public/Docs/"/>
    <add key="SessionTimeOutUrl" value="~/Default.aspx?act=timeout"/>
    <add key="defaultCacheValue" value="60"/>
    <add key="CultureDefault" value="it-IT"/>
    <add key="CultureDev" value="it-IT"/>
    <add key="EncryptKey" value="18KEU44ZBX"/>
    <add key="RedisConnection" value="localhost:6379"/>
    <add key="RedisAppName" value="PgnTest"/>
    <add key="RedisDefaultExpireSeconds" value="600"/>
  </appSettings>

  <system.web>
    <httpRuntime requestValidationMode="2.0"/>

    <caching>
      <outputCache defaultProvider="PigeonRedisOutputCache">
        <providers>
          <!-- https://docs.microsoft.com/it-it/azure/redis-cache/cache-aspnet-output-cache-provider-->
          <!--<add name="MyRedisOutputCache" type="Microsoft.Web.Redis.RedisOutputCacheProvider" host="127.0.0.1" accessKey="" ssl="false"/>-->
        </providers>
        </outputCache>
      </caching>
  
    <membership defaultProvider="PgnUserProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <!--passwordFormat: Clear|Encrypted|Hashed-->
        <add name="PgnUserProvider" type="PigeonCms.PgnUserProvider" connectionStringName="picce-demo" applicationName="PigeonCms" enablePasswordRetrieval="false" enablePasswordReset="true" minRequiredPasswordLength="6" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear"/>
        <add name="ActiveDirectoryUserProvider" type="PigeonCms.ActiveDirectoryUserProvider" contextUsername="guest" contextPassword="guest" domain="YOURDOMAIN.local" applicationName="PigeonCms"/>
      </providers>
    </membership>
   
    <roleManager defaultProvider="PgnRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear/>
        <add name="PgnRoleProvider" type="PigeonCms.PgnRoleProvider" connectionStringName="picce-demo" applicationName="PigeonCms"/>
        <add name="ActiveDirectoryRoleProvider" type="PigeonCms.ActiveDirectoryRoleProvider" contextUsername="guest" contextPassword="guest" domain="YOURDOMAIN.local" applicationName="PigeonCms"/>
      </providers>
    </roleManager>
 
  </system.web>
  <location path="Admin">
    <system.web>
      <pages theme="SbAdmin"/>
      <!--SbAdmin|adminDefault-->
      <authorization>
        <allow roles="admin,backend"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="~/pgn-admin/installation">
		<system.web>
			<pages theme="SbAdmin" masterPageFile="~/pgn-admin/masterpages/SbAdminBlank.master"/>
		</system.web>
	</location>-->
  <location path="Private">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ws">
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>
  </location>
  <system.webServer>

    <rewrite>
      <rules>

        <rule name="content-assets">
          <match url="^assets/(.+)$"/>
          <action type="Rewrite" url="/pgn-content/assets/{R:1}"/>
        </rule>

        <rule name="content-home" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?$"/>
          <action type="Rewrite" url="/pgn-content/contents/default.aspx?lng={R:2}"/>
        </rule>

        <rule name="content-cache" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/cache/?$"/>
          <action type="Rewrite" url="/pgn-content/contents/cache.aspx?lng={R:2}"/>
        </rule>

        <rule name="content-images" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/images/?$"/>
          <action type="Rewrite" url="/pgn-content/contents/images.aspx?lng={R:2}"/>
        </rule>

        <rule name="content-list" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/list/?$"/>
          <action type="Rewrite" url="/pgn-content/contents/list.aspx?lng={R:2}"/>
        </rule>

        <rule name="content-login" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/login/?$"/>
          <action type="Rewrite" url="/pgn-content/contents/login.aspx?lng={R:2}"/>
        </rule>

        <rule name="content-private-home" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?private/?$"/>
          <action type="Rewrite" url="/pgn-content/private/default.aspx?lng={R:2}"/>
        </rule>

        <!--shop specific-->
        <rule name="content-products" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/products/?$"/>
          <action type="Rewrite" url="/pgn-content/contents/products.aspx?lng={R:2}"/>
        </rule>

        <!--shop specific-->
        <rule name="content-detail" stopProcessing="true">
          <match url="^(([a-z][a-z])/)?contents/detail/(.+)/([0-9]+)?$"/>
          <action type="Rewrite" url="/pgn-content/contents/detail.aspx?productid={R:4}&amp;lng={R:2}"/>
        </rule>        

        <rule name="generic" enabled="true" stopProcessing="true">
          <match url="(\.gif|\.png|\.jpg|\.ico|\.pdf|\.zip|\.css|\.axd|\.js|\.aspx|\.cfm|\.txt|\.ttf|\.woff|\.eot|\.svg|\.mp4|\.webm|\.ogv)" ignoreCase="true"/>
          <action type="None"/>
        </rule>

        <!--<rule name="404" stopProcessing="true">
          <match url="^.+$"/>
          <action type="Rewrite" url="/pgn-content/404.aspx"/>
        </rule>-->

      </rules>

    </rewrite>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <add name="CaptchaImage" path="Handlers/CaptchaImage.aspx" verb="*" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
