
#################
## Visual Studio
#################

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/


App_Data/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


#############
## PigeonCms
#############

pigeoncms/web.config
pigeoncms/pgn-admin/installation/Install_completed.txt
pigeoncms/web--picce.config
projects/packages/
projects/pigeoncms-picce.sln
projects/.vs/

