<?xml version="1.0"?>
<configuration>

    <!--pigeon-->
    <connectionStrings>
        <add name="Conn1" connectionString="Data Source=123.456.789.123;Initial Catalog=yourdb;Persist Security Info=True;User ID=youruser;Pwd=yourpwd"
        providerName="System.Data.SqlClient" />
    </connectionStrings>

    <!--pigeon-->
    <appSettings>
        <add key="ConnectionStringName" value="Conn1" />
        <add key="ProviderName" value="System.Data.SqlClient" />
        <add key="AddPageSuffix" value="true" />
        <add key="TabPrefix" value="pgn_" />
        <add key="ModulesPath" value="~/Modules/" />
        <add key="InstallationPath" value="~/Installation/" />
        <add key="ItemsPath" value="~/Items/" />
        <add key="MasterPagesPath" value="~/Masterpages/" />
        <add key="DocsPublicPath" value="~/public/Docs/" />
        <add key="SessionTimeOutUrl" value="~/Default.aspx?act=timeout" />
        <add key="defaultCacheValue" value="60" />
        <add key="CultureDefault" value="it-IT" />
        <add key="FCKeditor:UserFilesPath" value="~/public/UploadFCK/UserFiles/" />
        <add key="FCKeditor:BasePath" value="~/Plugins/FCKeditor/" />
    </appSettings>

    <system.web>
        <customErrors mode="Off" defaultRedirect="404.aspx">
            <error statusCode="404" redirect="404.aspx"/>
        </customErrors>
        <compilation debug="true" targetFramework="4.0"/>

        <!--pigeon-->
        <authentication mode="Forms">
            <forms name="form1" loginUrl="~/pages/login.aspx" protection="All" timeout="30" slidingExpiration="true"/>
        </authentication>
        <authorization>
            <allow users="*"/>
        </authorization>
        <membership defaultProvider="PgnUserProvider" userIsOnlineTimeWindow="15">
            <providers>
                <clear />
                <add connectionStringName="Conn1" applicationName="PigeonCms"
                 enablePasswordRetrieval="false" enablePasswordReset="true" minRequiredPasswordLength="6"
                 requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                 passwordFormat="Clear" name="PgnUserProvider" type="PigeonCms.PgnUserProvider" />
            </providers>
        </membership>
        <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="PgnRoleProvider">
            <providers>
                <add connectionStringName="Conn1" applicationName="PigeonCms"
                 name="PgnRoleProvider" type="PigeonCms.PgnRoleProvider" />
            </providers>
        </roleManager>

    </system.web>

    <location path="private">
        <system.web>
            <authorization>
                <allow roles="admin,manager"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>   
    
    <system.webServer>
        <rewrite>
            <rules>
                
                <rule name="home" stopProcessing="true">
                    <match url="^((it|en|es|de|fr|ru)/)?/?$"/>
                    <action type="Rewrite" url="/default.aspx?lng={R:2}"/>
                </rule>
                
                <rule name="list" stopProcessing="true">
                    <match url="^((it|en|es|de|fr|ru)/)?list/?$"/>
                    <action type="Rewrite" url="/pages/list.aspx?lng={R:2}"/>
                </rule>

                <rule name="login" stopProcessing="true">
                    <match url="^((it|en|es|de|fr|ru)/)?login/?$"/>
                    <action type="Rewrite" url="/pages/login.aspx?lng={R:2}"/>
                </rule>

                <rule name="private-home" stopProcessing="true">
                    <match url="^((it|en|es|de|fr|ru)/)?private/?$"/>
                    <action type="Rewrite" url="/private/default.aspx?lng={R:2}"/>
                </rule>

                <rule name="generic" enabled="true" stopProcessing="true">
                    <match url="(\.gif|\.png|\.jpg|\.ico|\.pdf|\.zip|\.css|\.axd|\.js|\.aspx|\.cfm|\.txt|\.ttf|\.woff|\.eot|\.svg|\.mp4|\.webm|\.ogv)" ignoreCase="true"/>
                    <action type="None"/>
                </rule>
                
                <rule name="404" stopProcessing="true">
                    <match url="^.+$"/>
                    <action type="Rewrite" url="/404.aspx"/>
                </rule>
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>