<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Bulk Edit <%=selectText%></h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="bulkValue">Insert <%=selectText%> Value Here :</label>
                <input name="bulkValue" type="text" id="bulkValue" required="" class="form-control">  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="closeBulk" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="setBulk" class="btn btn-primary" data-id="<%=selectValue%>">Save changes</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
