img#placeholder
{
    border: solid 3px silver;
    width: 360px;
}

/* dock - top */
.dock {
	position: relative; 
	height: 40px; 
	text-align: center;
	padding-bottom: 30px;
	top: 10px;
}
.dock-container {
	position: absolute;
	height: 40px;
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 50px;
	color: lightgray;
	position: absolute;
	bottom: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}
