.galleria{list-style:none;width:200px}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */


/* BEGIN DEMO STYLE */
/**{margin:0;padding:0}*/
/*body{padding:20px;background:white;background:white;color:#555;font:80%/140% 'helvetica neue',sans-serif;width:900px;margin: 0 auto;}*/
/*a{color:#348;text-decoration:none;outline:none;}*/
/*a:hover{color:#67a;}*/
/*.demo{position:relative;margin-top:2em;}*/

.caption
{
    color:#888;
    position:absolute;
    top:250px;
    left:3px;
    width:200px;
}
.gallery_demo
{
    width:200px;
    float:left;
}
.gallery_demo li
{   width:55px;
    height:70px;    
    border:3px double #eee;
    margin: 0 2px 2px 0;
    background:#eee;
}
.gallery_demo li.hover
{
    border-color:#bbb;
}
.gallery_demo li.active
{
    border-style:solid;
    border-color:#222;
}
.gallery_demo li div
{
    left:240px
}
.gallery_demo li div .caption
{
    font:italic 0.7em/1.4 georgia,serif;
}
.galleria_container
{
    margin:0 auto 0px auto;
    /*height:438px;*/
    width:500px;
    float:right;
}
.nav
{
    padding-top:15px;
    clear:both;
}
.info
{
    text-align:left;
    margin:30px 0;
    border-top:1px dotted #221;
    padding-top:30px;
    clear:both;
}
.info p
{
    margin-top:1.6em;
}
.nav
{
    position:absolute;
    top:410px;
    left:0;
}