// Fonts

@font-face {

    font-family: 'latobold';
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/lato-bold-webfont.eot');
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/lato-bold-webfont.woff') format('woff'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/lato-bold-webfont.ttf') format('truetype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/brandon_med-webfont.eot');
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/brandon_med-webfont.woff') format('woff'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/brandon_med-webfont.ttf') format('truetype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-light-webfont.eot');
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-light-webfont.woff') format('woff'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-light-webfont.ttf') format('truetype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-regular-webfont.eot');
    src: url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-regular-webfont.woff') format('woff'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('/pgn-admin/masterpages/PigeonModern/fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoonPigeonModern';
	src:url('/pgn-admin/masterpages/PigeonModern/fonts/icomoonPigeonModern.eot?u3wami');
	src:url('/pgn-admin/masterpages/PigeonModern/fonts/icomoonPigeonModern.eot?u3wami#iefix') format('embedded-opentype'),
		url('/pgn-admin/masterpages/PigeonModern/fonts/icomoonPigeonModern.ttf?u3wami') format('truetype'),
		url('/pgn-admin/masterpages/PigeonModern/fonts/icomoonPigeonModern.woff?u3wami') format('woff'),
		url('/pgn-admin/masterpages/PigeonModern/fonts/icomoonPigeonModern.svg?u3wami#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


//[class^="icon-"], [class*=" icon-"]
.icon {
	font-family: 'icomoonPigeonModern';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//icons
.icon-delete,
.icon-delete:before {
    content: '\e906';
}

.icon-disponi,
.icon-disponi:before {
    content: '\e908';
}

.icon-document,
.icon-document:before {
    content: '\e909';
}

.icon-pencil,
.icon-pencil:before {
    content: '\e90a';
}

.icon-video,
.icon-video:before {
    content: '\e90b';
}

.icon-watch,
.icon-watch:before {
    content: '\e90c';
}

.icon-calendar,
.icon-calendar:before {
    content: '\e904';
}

.icon-close_big_white,
.icon-close_big_white:before {
    content: '\e905';
}

.icon-close_little_white,
.icon-close_little_white:before {
    content: '\e907';
}

.icon-image,
.icon-image:before {
    content: '\e903';
}

.icon-lente,
.icon-lente:before {
    content: '\e902';
}

.icon-arrow2,
.icon-arrow2:before {
    content: '\e901';
}

.icon-tick,
.icon-tick:before {
    content: '\e900';
}

.icon-arrow,
.icon-arrow:before {
    content: '\e800';
}

.icon-circle,
.icon-circle:before {
    content: '\e90d';
}

.fa-pgn_edit:before
{
    content: "\f040";
}

.fa-pgn_delete:before
{
    content: "\f014";
    color: red;
}

.fa-pgn_unchecked:before
{
    content: "\f096";
}

.fa-pgn_checked:before
{
    content: "\f046";
    color: green;
}

.fa-pgn_copy:before
{
    content: "\f0c5";
}

.fa-pgn_up:before
{
    content: "\f077";
}

.fa-pgn_down:before
{
    content: "\f078";
}

.fa-pgn_content:before
{
    content: "\f002";
}

.fa-pgn_key:before
{
    content: "\f084";
    color: #d08803;
}

.fa-pgn_security:before
{
    content: "\f023";
    color: #d08803;
}

.fa-pgn_image:before
{
    content: "\f030";
}

.fa-pgn_attach:before
{
    content: "\f0c6";
}

.fa-pgn_roles:before
{
    content: "\f022";
}

.fa-pgn_debug:before
{
    content: "\f06e";
}

.fa-pgn_info:before
{
    content: "\f05a";
}

.fa-pgn_warning:before
{
    content: "\f071";
    color: orange;
}

.fa-pgn_alert:before
{
    content: "\f071";
    color: red;
}

.fa-pgn_error:before
{
    content: "\f057";
    color: red;
}
