<div class="panel panel-default">  
	<div class="panel-heading"> Select your <%= text %> </div>  
	<div class="panel-body"> 
		<div class="form-group">  
			<% _.each(parsedAttributesValues, function (attrVals) { %> 
				<div class="checkbox" data-attributeid="<%= attrVals.AttributeId %>"> 
				<label><input type="checkbox" <%= attrVals.Checked %> value="<%= attrVals.Id %>" /> <%= attrVals.Value %> </label>
				</div> <% }); %>  
		</div> 
	</div>
	<div class="panel-footer"> 
	    <button class="select">Select All</button> <button class="unselect"> deselect All </button> 
	</div>  
</div>