<div class="col-lg-12">
	<form id="formData<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-variant">
		<div class="panel panel-default">  
			<div class="panel-heading">   
				<a data-toggle="collapse" data-parent="#formData<% _.each(ids, function (id) { %>_<%= id %><% }); %>" href="#collapse<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Variants in <% _.each(values, function (value) { %> <%= value %> <% }); %> </a>
			</div>
			<div id="collapse<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="panel-collapse collapse"">
				<div class="panel-body"> 
					<div class="form-group"> 
						<div class="form-group col-md-6 col-sm-12">
						    <label for="ProductCode<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Product Code</label>
						    <input name="ProductCode<% _.each(ids, function (id) { %>_<%= id %><% }); %>" value="<%= Product.ProductCode %>" type="text" id="ProductCode<% _.each(ids, function (id) { %>_<%= id %><% }); %>" required class="form-control">  
						</div>
						<div class="form-group col-md-6 col-sm-12">
							<label for="Availability<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Availability</label>
							<input name="Availability<% _.each(ids, function (id) { %>_<%= id %><% }); %>" data-type="decimal" value="<%= Product.Availability %>" type="text" id="Availability<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						</div>
						<div class="col-md-6 col-sm-12">
							<label for="RegularPrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Price</label>
							<div class="form-group input-group">
							    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
							    <input name="RegularPrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>"value="<%= Product.RegularPrice %>" data-type="decimal" type="text" value="0,00" id="RegularPrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
						    <label for="SalePrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Offer Price</label>
						    <div class="form-group input-group">
						        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
						        <input name="SalePrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>" value="<%= Product.SalePrice %>" data-type="decimal" type="text" value="0,00" id="SalePrice<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						    </div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
						    <label for="Weight<% _.each(ids, function (id) { %>_<%= id %><% }); %>">Weight</label>
						    <input name="Weight<% _.each(ids, function (id) { %>_<%= id %><% }); %>" value="<%= Product.Weight %>" data-type="decimal" type="text" id="Weight<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						</div>
						<div class="col-md-6 col-sm-12 form-group">
						    <div class="row col-md-12">
						        <label for="">Dimensions (L x W x H)</label>
						    </div>
						    <div class="col-md-4 col-sm-12">
						        <input name="DimL<% _.each(ids, function (id) { %>_<%= id %><% }); %>" type="text" data-type="decimal" id="DimL<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						    </div>
						    <div class="col-md-4 col-sm-12">
						        <input name="DimW<% _.each(ids, function (id) { %>_<%= id %><% }); %>" type="text" data-type="decimal" id="DimW<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						    </div>
						    <div class="col-md-4 col-sm-12 form-group">
						        <input name="DimH<% _.each(ids, function (id) { %>_<%= id %><% }); %>" type="text" data-type="decimal" id="DimH<% _.each(ids, function (id) { %>_<%= id %><% }); %>" class="form-control">
						    </div>
						</div>
						<div class="col-lg-12" id="gallery<% _.each(ids, function (id) { %>_<%= id %><% }); %>">
							<% _.each(Product.Photos, function (pics) { 
								%> <img src="<%= pics.FileUrl %>?width=120&height=120&bgcolor=Ffffff&scale=both" /> <%
							}); %>
						</div>		
					</div>
				</div>
				<div class="panel-footer"> 
				    <button type="button" class="saveVariant btn btn-success" data-saveids="<% _.each(ids, function (id) { %><%=id%>,<% }); %>" data-variantid="<%= Product.Id %>">Save Variant</button>
				    <button type="button" class="deleteVariant btn btn-danger" data-deleteids="<% _.each(ids, function (id) { %><%=id%>,<% }); %>" data-variantid="<%= Product.Id %>">Delete Variant</button>
				    <button type="button" class="uploadImage btn btn-primary" data-itemattributes="<% _.each(ids, function (id) { %><%=id%>,<% }); %>" data-variantid="<%= Product.Id %>">
				    	<i class="fa fa-pgn_image fa-fw"></i>
				    </button>
				</div>  
			</div>
		</div>
	</form>
</div>