<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="16.1.1.0" targetFramework="net40" />
  <package id="AjaxControlToolkit.HtmlEditor.Sanitizer" version="16.1.1.0" targetFramework="net40" />
  <package id="CodeForceLib.Controls.Web" version="2.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net40" />
  <package id="ImageResizer.MvcWebConfig" version="4.0.5" targetFramework="net40" />
  <package id="ImageResizer.Plugins.DiskCache" version="4.0.5" targetFramework="net40" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="4.0.5" targetFramework="net40" />
  <package id="ImageResizer.WebConfig" version="4.0.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net40" />
</packages>