--@created 20170621 - picce

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__appSettings]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__appSettings](
	[keySet] [nvarchar](50) NOT NULL,
	[keyName] [nvarchar](50) NOT NULL,
	[keyTitle] [nvarchar](500) NULL,
	[keyValue] [nvarchar](500) NULL,
	[keyInfo] [nvarchar](500) NULL,
 CONSTRAINT [PK_#__appSettings] PRIMARY KEY CLUSTERED 
(
	[keySet] ASC,
	[keyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__attributes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__attributes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__attributes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[allowCustomValue] [bit] NULL,
	[ordering] [int] NULL,
	[extId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__attributes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__attributeSet]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__attributeSet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__attributeSet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[attributesList] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__attributeSet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__attributesValues]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__attributesValues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__attributesValues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attributeId] [int] NOT NULL,
	[valueString] [nvarchar](max) NULL,
	[ordering] [int] NULL,
	[extId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__attributesValues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__categories]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__categories]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sectionId] [int] NULL,
	[parentId] [int] NULL,
	[enabled] [bit] NULL,
	[ordering] [int] NULL,
	[defaultImageName] [nvarchar](50) NULL,
	[accessType] [int] NULL,
	[permissionId] [int] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[writeAccessType] [int] NULL,
	[writePermissionId] [int] NULL,
	[writeAccessCode] [nvarchar](255) NULL,
	[writeAccessLevel] [int] NULL,
	[cssClass] [nvarchar](50) NULL,
	[extId] [nvarchar](50) NULL,
	[seoId] [int] NULL,
 CONSTRAINT [PK_#__categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__categories_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__categories_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__categories_Culture](
	[cultureName] [nvarchar](10) NOT NULL,
	[categoryId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__categories_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__comments]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__comments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__comments](
	[id] [int] NOT NULL,
	[groupId] [int] NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](255) NULL,
	[userHostAddress] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[comment] [text] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_#__comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__cultures]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__cultures]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__cultures](
	[cultureCode] [nvarchar](10) NOT NULL,
	[displayName] [nvarchar](50) NULL,
	[enabled] [bit] NULL,
	[ordering] [int] NULL,
	[shortCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_#__cultures] PRIMARY KEY CLUSTERED 
(
	[cultureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__customers]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__customers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__customers](
	[id] [int] NOT NULL,
	[companyName] [nvarchar](255) NULL,
	[vat] [nvarchar](255) NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](50) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__dbVersion]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__dbVersion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__dbVersion](
	[componentFullName] [nvarchar](500) NOT NULL,
	[versionId] [int] NOT NULL,
	[versionDate] [datetime] NULL,
	[versionDev] [nvarchar](500) NULL,
	[versionNotes] [text] NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__dbVersion] PRIMARY KEY CLUSTERED 
(
	[componentFullName] ASC,
	[versionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__events]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__events]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__events](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[eventStart] [datetime] NULL,
	[eventEnd] [datetime] NULL,
	[resourceId] [int] NULL,
	[status] [int] NULL,
	[groupId] [int] NULL,
	[description] [nvarchar](500) NULL,
	[orderId] [int] NULL,
 CONSTRAINT [PK_#__events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__formFieldOptions]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__formFieldOptions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__formFieldOptions](
	[id] [int] NOT NULL,
	[formFieldId] [int] NOT NULL,
	[label] [nvarchar](255) NULL,
	[value] [nvarchar](255) NULL,
	[ordering] [int] NULL,
 CONSTRAINT [PK_#__formFieldOptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__formFields]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__formFields]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__formFields](
	[id] [int] NOT NULL,
	[formId] [int] NULL,
	[enabled] [bit] NULL,
	[groupName] [nvarchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
	[defaultValue] [nvarchar](255) NULL,
	[minValue] [int] NULL,
	[maxValue] [int] NULL,
	[rowsNo] [int] NULL,
	[colsNo] [int] NULL,
	[cssClass] [nvarchar](255) NULL,
	[cssStyle] [nvarchar](255) NULL,
	[fieldType] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__formFields] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__forms]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__forms]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__forms](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__forms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__geoCountries]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__geoCountries]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__geoCountries](
	[code] [nvarchar](2) NOT NULL,
	[iso3] [nvarchar](3) NULL,
	[continent] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[custom1] [nvarchar](255) NULL,
	[custom2] [nvarchar](255) NULL,
	[custom3] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__geoCountries] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__geoZones]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__geoZones]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__geoZones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[countryCode] [nvarchar](2) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NULL,
	[custom1] [nvarchar](255) NULL,
	[custom2] [nvarchar](255) NULL,
	[custom3] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__geoZones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemFieldValues]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemFieldValues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemFieldValues](
	[formFieldId] [int] NOT NULL,
	[itemId] [int] NOT NULL,
	[value] [nvarchar](4000) NULL,
 CONSTRAINT [PK_#__itemFieldValues] PRIMARY KEY CLUSTERED 
(
	[formFieldId] ASC,
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__items]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__items]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemType] [nvarchar](255) NULL,
	[categoryId] [int] NULL,
	[enabled] [bit] NULL,
	[ordering] [int] NULL,
	[defaultImageName] [nvarchar](50) NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](50) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](50) NULL,
	[CustomBool1] [bit] NULL,
	[CustomBool2] [bit] NULL,
	[CustomBool3] [bit] NULL,
	[CustomBool4] [bit] NULL,
	[CustomDate1] [datetime] NULL,
	[CustomDate2] [datetime] NULL,
	[CustomDate3] [datetime] NULL,
	[CustomDate4] [datetime] NULL,
	[CustomDecimal1] [decimal](18, 2) NULL,
	[CustomDecimal2] [decimal](18, 2) NULL,
	[CustomDecimal3] [decimal](18, 2) NULL,
	[CustomDecimal4] [decimal](18, 2) NULL,
	[CustomInt1] [int] NULL,
	[CustomInt2] [int] NULL,
	[CustomInt3] [int] NULL,
	[CustomInt4] [int] NULL,
	[CustomString1] [nvarchar](max) NULL,
	[CustomString2] [nvarchar](max) NULL,
	[CustomString3] [nvarchar](max) NULL,
	[CustomString4] [nvarchar](max) NULL,
	[ItemParams] [nvarchar](max) NULL,
	[accessType] [int] NULL,
	[permissionId] [int] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[itemDate] [datetime] NULL,
	[validFrom] [datetime] NULL,
	[validTo] [datetime] NULL,
	[alias] [nvarchar](200) NULL,
	[commentsGroupId] [int] NULL,
	[writeAccessType] [int] NULL,
	[writePermissionId] [int] NULL,
	[writeAccessCode] [nvarchar](255) NULL,
	[writeAccessLevel] [int] NULL,
	[threadId] [int] NULL,
	[cssClass] [nvarchar](50) NULL,
	[extId] [nvarchar](50) NULL,
	[seoId] [int] NULL,
 CONSTRAINT [PK_#__items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__items_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__items_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__items_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[itemId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__items_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemsAttributesValues]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemsAttributesValues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemsAttributesValues](
	[itemId] [int] NOT NULL,
	[attributeId] [int] NOT NULL,
	[attributeValueId] [int] NOT NULL,
	[CustomValueString] [nvarchar](max) NULL,
 CONSTRAINT [PK_#__itemsAttributesValues] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC,
	[attributeId] ASC,
	[attributeValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemsRelated]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemsRelated]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemsRelated](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemId] [int] NOT NULL,
	[relatedId] [int] NOT NULL,
	[itemsRelationTypeId] [int] NOT NULL,
 CONSTRAINT [PK_#__itemsRelated_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemsRelationTypes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemsRelationTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemsRelationTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemType] [nvarchar](255) NULL,
	[ordering] [int] NULL,
	[extId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__itemsRelationTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemsRelationTypes_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemsRelationTypes_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemsRelationTypes_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[itemsRelationTypeId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__itemsRelationTypes_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[itemsRelationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__itemsTags]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__itemsTags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__itemsTags](
	[itemId] [int] NOT NULL,
	[tagId] [int] NOT NULL,
 CONSTRAINT [PK_#__itemsTags] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC,
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__labels]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__labels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__labels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cultureName] [nvarchar](50) NOT NULL,
	[resourceSet] [nvarchar](255) NOT NULL,
	[resourceId] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NULL,
	[comment] [nvarchar](255) NULL,
	[textMode] [int] NULL,
	[isLocalized] [bit] NULL,
	[resourceParams] [nvarchar](max) NULL,
 CONSTRAINT [PK_#__labels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__logItems]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__logItems]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__logItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](50) NULL,
	[moduleId] [int] NULL,
	[type] [int] NULL,
	[userHostAddress] [nvarchar](50) NULL,
	[url] [nvarchar](500) NULL,
	[description] [nvarchar](500) NULL,
	[sessionId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__logItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__memberUsers]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__memberUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__memberUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[applicationName] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[comment] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[passwordQuestion] [nvarchar](255) NULL,
	[passwordAnswer] [nvarchar](255) NULL,
	[isApproved] [bit] NULL,
	[lastActivityDate] [datetime] NULL,
	[lastLoginDate] [datetime] NULL,
	[lastPasswordChangedDate] [datetime] NULL,
	[creationDate] [datetime] NULL,
	[isOnLine] [bit] NULL,
	[isLockedOut] [bit] NULL,
	[lastLockedOutDate] [datetime] NULL,
	[failedPasswordAttemptCount] [int] NULL,
	[failedPasswordAttemptWindowStart] [datetime] NULL,
	[failedPasswordAnswerAttemptCount] [int] NULL,
	[failedPasswordAnswerAttemptWindowStart] [datetime] NULL,
	[enabled] [bit] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[isCore] [bit] NULL,
	[sex] [nvarchar](1) NULL,
	[companyName] [nvarchar](255) NULL,
	[vat] [nvarchar](255) NULL,
	[ssn] [nvarchar](255) NULL,
	[firstName] [nvarchar](255) NULL,
	[secondName] [nvarchar](255) NULL,
	[address1] [nvarchar](255) NULL,
	[address2] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[zipCode] [nvarchar](255) NULL,
	[nation] [nvarchar](255) NULL,
	[tel1] [nvarchar](255) NULL,
	[mobile1] [nvarchar](255) NULL,
	[website1] [nvarchar](255) NULL,
	[allowMessages] [bit] NULL,
	[allowEmails] [bit] NULL,
	[validationCode] [nvarchar](255) NULL,
	[nickName] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__memberUsers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__memberUsers_Meta]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__memberUsers_Meta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__memberUsers_Meta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](200) NOT NULL,
	[metaKey] [nvarchar](200) NOT NULL,
	[metaValue] [nvarchar](500) NULL,
 CONSTRAINT [PK_#__memberUsers_Meta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__menu]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__menu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__menu](
	[id] [int] NOT NULL,
	[menuType] [nvarchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[alias] [nvarchar](200) NULL,
	[link] [nvarchar](200) NULL,
	[contentType] [smallint] NULL,
	[published] [bit] NULL,
	[parentId] [int] NULL,
	[moduleId] [int] NULL,
	[ordering] [int] NULL,
	[accessType] [smallint] NULL,
	[overridePageTitle] [bit] NULL,
	[referMenuId] [int] NULL,
	[currMasterPage] [nvarchar](50) NULL,
	[currTheme] [nvarchar](50) NULL,
	[cssClass] [nvarchar](200) NULL,
	[visible] [bit] NULL,
	[routeId] [int] NULL,
	[permissionId] [int] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[isCore] [bit] NULL,
	[writeAccessType] [int] NULL,
	[writePermissionId] [int] NULL,
	[writeAccessCode] [nvarchar](255) NULL,
	[writeAccessLevel] [int] NULL,
	[useSsl] [int] NULL,
	[seoId] [int] NULL,
 CONSTRAINT [PK_#__menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__menu_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__menu_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__menu_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[menuId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[titleWindow] [nvarchar](200) NULL,
 CONSTRAINT [PK_#__menu_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__menuTypes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__menuTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__menuTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menuType] [nvarchar](50) NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_#__menuTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__messages]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__messages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__messages](
	[id] [int] NOT NULL,
	[ownerUser] [nvarchar](50) NULL,
	[fromUser] [nvarchar](50) NULL,
	[toUser] [nvarchar](500) NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[dateInserted] [datetime] NULL,
	[priority] [int] NULL,
	[isRead] [bit] NULL,
	[isStarred] [bit] NULL,
	[visible] [bit] NULL,
	[itemId] [int] NULL,
	[moduleId] [int] NULL,
 CONSTRAINT [PK_#__messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__modules]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__modules]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__modules](
	[id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[ordering] [int] NULL,
	[templateBlockName] [nvarchar](50) NULL,
	[published] [bit] NULL,
	[moduleName] [nvarchar](50) NULL,
	[moduleNamespace] [nvarchar](200) NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](50) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](50) NULL,
	[accessType] [int] NULL,
	[showTitle] [bit] NULL,
	[moduleParams] [nvarchar](max) NULL,
	[isCore] [bit] NULL,
	[menuSelection] [int] NULL,
	[currView] [nvarchar](50) NULL,
	[permissionId] [int] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[cssFile] [nvarchar](50) NULL,
	[cssClass] [nvarchar](50) NULL,
	[useCache] [int] NULL,
	[useLog] [int] NULL,
	[directEditMode] [bit] NULL,
	[writeAccessType] [int] NULL,
	[writePermissionId] [int] NULL,
	[writeAccessCode] [nvarchar](255) NULL,
	[writeAccessLevel] [int] NULL,
	[systemMessagesTo] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__modules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__modules_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__modules_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__modules_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[moduleId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
 CONSTRAINT [PK_#__modules_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[moduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__modulesMenu]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__modulesMenu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__modulesMenu](
	[moduleId] [int] NOT NULL,
	[menuId] [int] NOT NULL,
 CONSTRAINT [PK_#__modulesMenu] PRIMARY KEY CLUSTERED 
(
	[moduleId] ASC,
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__modulesMenuTypes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__modulesMenuTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__modulesMenuTypes](
	[moduleId] [int] NOT NULL,
	[menuType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_#__modulesMenuTypes] PRIMARY KEY CLUSTERED 
(
	[moduleId] ASC,
	[menuType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__permissions]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__permissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__permissions](
	[id] [int] NOT NULL,
	[rolename] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[rolename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__placeholders]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__placeholders]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__placeholders](
	[name] [nvarchar](50) NOT NULL,
	[content] [text] NULL,
	[visible] [bit] NULL,
 CONSTRAINT [PK_#__placeholders] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__roles]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__roles](
	[rolename] [nvarchar](255) NOT NULL,
	[applicationName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__roles] PRIMARY KEY CLUSTERED 
(
	[rolename] ASC,
	[applicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__routeParams]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__routeParams]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__routeParams](
	[routeId] [int] NOT NULL,
	[paramKey] [nvarchar](50) NOT NULL,
	[paramValue] [nvarchar](255) NULL,
	[paramConstraint] [nvarchar](255) NULL,
	[paramDataType] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__routeParams_1] PRIMARY KEY CLUSTERED 
(
	[routeId] ASC,
	[paramKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__routes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__routes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__routes](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[pattern] [nvarchar](255) NULL,
	[published] [bit] NULL,
	[ordering] [int] NULL,
	[currMasterPage] [nvarchar](50) NULL,
	[currTheme] [nvarchar](50) NULL,
	[isCore] [bit] NULL,
	[useSsl] [bit] NULL,
	[assemblyPath] [nvarchar](255) NULL,
	[handlerName] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__routes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__sections]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__sections]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[enabled] [bit] NULL,
	[accessType] [int] NULL,
	[permissionId] [int] NULL,
	[accessCode] [nvarchar](255) NULL,
	[accessLevel] [int] NULL,
	[writeAccessType] [int] NULL,
	[writePermissionId] [int] NULL,
	[writeAccessCode] [nvarchar](255) NULL,
	[writeAccessLevel] [int] NULL,
	[maxItems] [int] NULL,
	[maxAttachSizeKB] [int] NULL,
	[cssClass] [nvarchar](50) NULL,
	[itemType] [nvarchar](255) NULL,
	[extId] [nvarchar](50) NULL,
	[seoId] [int] NULL,
 CONSTRAINT [PK_#__sections] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__sections_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__sections_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__sections_Culture](
	[cultureName] [nvarchar](10) NOT NULL,
	[sectionId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__sections_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[sectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__seo]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__seo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__seo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resourceSet] [nvarchar](100) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [varchar](50) NULL,
	[noIndex] [bit] NULL,
	[noFollow] [bit] NULL,
 CONSTRAINT [PK_#__seo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__seo_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__seo_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__seo_Culture](
	[cultureName] [varchar](50) NOT NULL,
	[seoId] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_#__seo_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[seoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_coupons]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_coupons]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[dateInserted] [datetime] NOT NULL,
	[userInserted] [int] NOT NULL,
	[dateUpdated] [datetime] NOT NULL,
	[userUpdated] [int] NOT NULL,
	[validFrom] [datetime] NOT NULL,
	[validTo] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[amount] [decimal](9, 2) NOT NULL,
	[isPercentage] [bit] NOT NULL,
	[minOrderAmount] [decimal](9, 2) NULL,
	[categoriesIdList] [nvarchar](max) NULL,
	[itemType] [nvarchar](255) NULL,
	[maxUses] [int] NULL,
	[usesCounter] [int] NULL,
	[itemsIdList] [nvarchar](max) NULL,
 CONSTRAINT [PK_#__shop_coupons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_customers]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_customers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_customers](
	[id] [int] NOT NULL,
	[ownerUser] [nvarchar](255) NOT NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](50) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](50) NULL,
	[companyName] [nvarchar](255) NULL,
	[firstName] [nvarchar](255) NULL,
	[secondName] [nvarchar](255) NULL,
	[ssn] [nvarchar](255) NULL,
	[vat] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[zipCode] [nvarchar](255) NULL,
	[nation] [nvarchar](255) NULL,
	[tel1] [nvarchar](255) NULL,
	[mobile1] [nvarchar](255) NULL,
	[website1] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[enabled] [bit] NULL,
	[notes] [nvarchar](4000) NULL,
	[jsData] [nvarchar](max) NULL,
	[custom1] [nvarchar](255) NULL,
	[custom2] [nvarchar](255) NULL,
	[custom3] [nvarchar](255) NULL,
 CONSTRAINT [PK_#__shop_customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_orderHeader]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_orderHeader]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_orderHeader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderRef] [nvarchar](50) NULL,
	[ownerUser] [nvarchar](255) NULL,
	[customerId] [int] NULL,
	[orderDate] [datetime] NULL,
	[orderDateRequested] [datetime] NULL,
	[orderDateShipped] [datetime] NULL,
	[dateInserted] [datetime] NULL,
	[userInserted] [nvarchar](255) NULL,
	[dateUpdated] [datetime] NULL,
	[userUpdated] [nvarchar](255) NULL,
	[confirmed] [bit] NULL,
	[paid] [bit] NULL,
	[processed] [bit] NULL,
	[invoiced] [bit] NULL,
	[notes] [nvarchar](4000) NULL,
	[qtyAmount] [decimal](18, 2) NULL,
	[orderAmount] [decimal](18, 2) NULL,
	[shipAmount] [decimal](18, 2) NULL,
	[totalAmount] [decimal](18, 2) NULL,
	[totalPaid] [decimal](18, 2) NULL,
	[currency] [nvarchar](50) NULL,
	[invoiceId] [int] NULL,
	[invoiceRef] [nvarchar](200) NULL,
	[ordName] [nvarchar](500) NULL,
	[ordAddress] [nvarchar](500) NULL,
	[ordZipCode] [nvarchar](50) NULL,
	[ordCity] [nvarchar](50) NULL,
	[ordState] [nvarchar](50) NULL,
	[ordNation] [nvarchar](50) NULL,
	[ordPhone] [nvarchar](200) NULL,
	[ordEmail] [nvarchar](200) NULL,
	[couponCode] [nvarchar](50) NULL,
	[couponValue] [decimal](18, 2) NULL,
	[paymentCode] [nvarchar](20) NULL,
	[shipCode] [nvarchar](20) NULL,
	[couponIsPercentage] [bit] NULL,
	[jsData] [nvarchar](max) NULL,
	[custom1] [nvarchar](255) NULL,
	[custom2] [nvarchar](255) NULL,
	[custom3] [nvarchar](255) NULL,
	[ordVat] [nvarchar](255) NULL,
	[shipName] [nvarchar](500) NULL,
	[shipAddress] [nvarchar](500) NULL,
	[shipZipCode] [nvarchar](50) NULL,
	[shipCity] [nvarchar](50) NULL,
	[shipState] [nvarchar](50) NULL,
	[shipNation] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__shop_orderHeader] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_orderRows]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_orderRows]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_orderRows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productCode] [nvarchar](50) NULL,
	[qty] [decimal](18, 2) NULL,
	[priceNet] [decimal](18, 2) NULL,
	[taxPercentage] [decimal](18, 2) NULL,
	[rowNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_#__shop_orderRows] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_payments]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_payments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_payments](
	[payCode] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
	[assemblyName] [nvarchar](100) NULL,
	[cssClass] [nvarchar](50) NULL,
	[isDebug] [bit] NULL,
	[enabled] [bit] NULL,
	[payAccount] [nvarchar](50) NULL,
	[paySubmitUrl] [nvarchar](100) NULL,
	[payCallbackUrl] [nvarchar](100) NULL,
	[siteOkUrl] [nvarchar](100) NULL,
	[siteKoUrl] [nvarchar](100) NULL,
	[minAmount] [decimal](18, 0) NULL,
	[maxAmount] [decimal](18, 0) NULL,
	[payParams] [nvarchar](500) NULL,
 CONSTRAINT [PK_#__shop_payments] PRIMARY KEY CLUSTERED 
(
	[payCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_shipGeoZones]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_shipGeoZones]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_shipGeoZones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zoneCode] [nvarchar](50) NOT NULL,
	[countryCode] [nvarchar](2) NULL,
	[cityCode] [nvarchar](2) NOT NULL,
	[continent] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__shop_shipGeoZones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_shipments]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_shipments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_shipments](
	[shipCode] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
	[assemblyName] [nvarchar](100) NULL,
	[enabled] [bit] NULL,
	[isDebug] [bit] NULL,
	[shipType] [nvarchar](50) NULL,
	[shipParams] [nvarchar](500) NULL,
 CONSTRAINT [PK_#__shop_shipments] PRIMARY KEY CLUSTERED 
(
	[shipCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_shipZones]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_shipZones]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_shipZones](
	[code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__shop_shipZones] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__shop_shipZonesWeight]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_shipZonesWeight]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__shop_shipZonesWeight](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zoneCode] [nvarchar](50) NOT NULL,
	[weightFrom] [decimal](18, 2) NOT NULL,
	[weightTo] [decimal](18, 2) NOT NULL,
	[shippingPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_#__shop_shipZonesWeight] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__staticPages]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__staticPages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__staticPages](
	[pageName] [nvarchar](50) NOT NULL,
	[visible] [bit] NULL,
	[showPageTitle] [bit] NULL,
 CONSTRAINT [PK_#__staticPages] PRIMARY KEY CLUSTERED 
(
	[pageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__staticPages_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__staticPages_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__staticPages_Culture](
	[cultureName] [nvarchar](10) NOT NULL,
	[pageName] [nvarchar](50) NOT NULL,
	[pageTitle] [nvarchar](50) NULL,
	[pageContent] [text] NULL,
 CONSTRAINT [PK_#__staticPages_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[pageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__tags]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__tags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tagTypeId] [int] NOT NULL,
	[ordering] [int] NULL,
	[extId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__tags_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__tags_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__tags_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[tagId] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__tags_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__tagTypes]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__tagTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__tagTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemType] [nvarchar](255) NULL,
	[ordering] [int] NULL,
	[extId] [nvarchar](50) NULL,
 CONSTRAINT [PK_#__tagTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__tagTypes_Culture]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__tagTypes_Culture]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__tagTypes_Culture](
	[cultureName] [nvarchar](50) NOT NULL,
	[tagTypeId] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_#__tagTypes_Culture] PRIMARY KEY CLUSTERED 
(
	[cultureName] ASC,
	[tagTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__templateBlocks]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__templateBlocks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__templateBlocks](
	[name] [nvarchar](50) NOT NULL,
	[title] [nvarchar](500) NULL,
	[enabled] [bit] NULL,
	[orderId] [int] NULL,
 CONSTRAINT [PK_#__templateBlocks] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__usersInRoles]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__usersInRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__usersInRoles](
	[username] [nvarchar](255) NOT NULL,
	[rolename] [nvarchar](255) NOT NULL,
	[applicationName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_#__usersInRoles] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[rolename] ASC,
	[applicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[#__userTempData]    Script Date: 21/06/2017 15:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[#__userTempData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[#__userTempData](
	[id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[sessionId] [nvarchar](255) NOT NULL,
	[dateInserted] [datetime] NOT NULL,
	[dateExpiration] [datetime] NOT NULL,
	[enabled] [bit] NULL,
	[col01] [nvarchar](max) NULL,
	[col02] [nvarchar](max) NULL,
	[col03] [nvarchar](max) NULL,
	[col04] [nvarchar](max) NULL,
	[col05] [nvarchar](max) NULL,
	[col06] [nvarchar](max) NULL,
	[col07] [nvarchar](max) NULL,
	[col08] [nvarchar](max) NULL,
	[col09] [nvarchar](max) NULL,
	[col10] [nvarchar](max) NULL,
	[col11] [nvarchar](max) NULL,
	[col12] [nvarchar](max) NULL,
	[col13] [nvarchar](max) NULL,
	[col14] [nvarchar](max) NULL,
	[col15] [nvarchar](max) NULL,
	[col16] [nvarchar](max) NULL,
	[col17] [nvarchar](max) NULL,
	[col18] [nvarchar](max) NULL,
	[col19] [nvarchar](max) NULL,
	[col20] [nvarchar](max) NULL,
 CONSTRAINT [PK_#__userTempData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[#__appSettings] ([keySet], [keyName], [keyTitle], [keyValue], [keyInfo]) VALUES (N'Acme.Site', N'BlogCatId', N'Blog category', N'4', N'')
INSERT [dbo].[#__appSettings] ([keySet], [keyName], [keyTitle], [keyValue], [keyInfo]) VALUES (N'Acme.Site', N'ContentsSectionId', N'Contents section', N'1', N'Section that contains website contents')
INSERT [dbo].[#__appSettings] ([keySet], [keyName], [keyTitle], [keyValue], [keyInfo]) VALUES (N'Acme.Site', N'NewsCatId', N'News category', N'2', N'')
SET IDENTITY_INSERT [dbo].[#__categories] ON 

INSERT [dbo].[#__categories] ([id], [sectionId], [parentId], [enabled], [ordering], [defaultImageName], [accessType], [permissionId], [accessCode], [accessLevel], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [cssClass], [extId], [seoId]) VALUES (1, 1, 0, 1, 1, N'', 0, 0, N'', 0, 0, 0, N'', 0, N'', N'', 38)
INSERT [dbo].[#__categories] ([id], [sectionId], [parentId], [enabled], [ordering], [defaultImageName], [accessType], [permissionId], [accessCode], [accessLevel], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [cssClass], [extId], [seoId]) VALUES (2, 1, 0, 1, 2, N'', 0, 0, N'', 0, 0, 0, N'', 0, N'', N'', 21)
INSERT [dbo].[#__categories] ([id], [sectionId], [parentId], [enabled], [ordering], [defaultImageName], [accessType], [permissionId], [accessCode], [accessLevel], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [cssClass], [extId], [seoId]) VALUES (4, 1, 0, 1, 3, N'', 0, 0, N'', 0, 0, 0, N'', 0, N'', N'', 25)
SET IDENTITY_INSERT [dbo].[#__categories] OFF
INSERT [dbo].[#__categories_Culture] ([cultureName], [categoryId], [title], [description]) VALUES (N'en-US', 1, N'Static pages', N'')
INSERT [dbo].[#__categories_Culture] ([cultureName], [categoryId], [title], [description]) VALUES (N'en-US', 2, N'News', N'')
INSERT [dbo].[#__categories_Culture] ([cultureName], [categoryId], [title], [description]) VALUES (N'en-US', 4, N'Blog', N'')
INSERT [dbo].[#__cultures] ([cultureCode], [displayName], [enabled], [ordering], [shortCode]) VALUES (N'de-DE', N'Deutsch', 0, 3, N'de')
INSERT [dbo].[#__cultures] ([cultureCode], [displayName], [enabled], [ordering], [shortCode]) VALUES (N'en-US', N'English', 1, 1, N'en')
INSERT [dbo].[#__cultures] ([cultureCode], [displayName], [enabled], [ordering], [shortCode]) VALUES (N'es-ES', N'Espanol', 0, 2, N'es')
INSERT [dbo].[#__dbVersion] ([componentFullName], [versionId], [versionDate], [versionDev], [versionNotes], [dateUpdated], [userUpdated]) VALUES (N'PigeonCms.Core', 1, CAST(N'2016-11-01T20:53:03.110' AS DateTime), N'', N'', CAST(N'2016-11-01T20:53:03.110' AS DateTime), N'MANUAL')
INSERT [dbo].[#__dbVersion] ([componentFullName], [versionId], [versionDate], [versionDev], [versionNotes], [dateUpdated], [userUpdated]) VALUES (N'PigeonCms.Core', 2, CAST(N'2016-11-01T21:04:18.510' AS DateTime), N'', N'', CAST(N'2016-11-01T21:04:18.510' AS DateTime), N'MANUAL')
INSERT [dbo].[#__dbVersion] ([componentFullName], [versionId], [versionDate], [versionDev], [versionNotes], [dateUpdated], [userUpdated]) VALUES (N'PigeonCms.Core', 3, CAST(N'2015-10-11T00:00:00.000' AS DateTime), N'https://github.com/picce/', N'table #__itemsRelationTypes_Culture field name correction ', CAST(N'2016-11-01T21:04:18.670' AS DateTime), N'admin')
INSERT [dbo].[#__geoCountries] ([code], [iso3], [continent], [name], [custom1], [custom2], [custom3]) VALUES (N'AD', N'AND', N'EU', N'Andorra', N'020', NULL, NULL)
INSERT [dbo].[#__geoCountries] ([code], [iso3], [continent], [name], [custom1], [custom2], [custom3]) VALUES (N'AE', N'ARE', N'AS', N'United Arab Emirates', N'784', NULL, NULL)
INSERT [dbo].[#__geoCountries] ([code], [iso3], [continent], [name], [custom1], [custom2], [custom3]) VALUES (N'AF', N'AFG', N'AS', N'Afghanistan', N'004', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[#__geoZones] ON 

INSERT [dbo].[#__geoZones] ([id], [countryCode], [code], [name], [custom1], [custom2], [custom3]) VALUES (1, N'US', N'AL', N'Alabama', NULL, NULL, NULL)
INSERT [dbo].[#__geoZones] ([id], [countryCode], [code], [name], [custom1], [custom2], [custom3]) VALUES (2, N'US', N'AK', N'Alaska', NULL, NULL, NULL)
INSERT [dbo].[#__geoZones] ([id], [countryCode], [code], [name], [custom1], [custom2], [custom3]) VALUES (3, N'US', N'AZ', N'Arizona', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[#__geoZones] OFF
SET IDENTITY_INSERT [dbo].[#__items] ON 

SET IDENTITY_INSERT [dbo].[#__items] OFF
INSERT [dbo].[#__items_Culture] ([cultureName], [itemId], [title], [description]) VALUES (N'en-US', 2, N'', N'')
SET IDENTITY_INSERT [dbo].[#__labels] ON 

INSERT [dbo].[#__labels] ([id], [cultureName], [resourceSet], [resourceId], [value], [comment], [textMode], [isLocalized], [resourceParams]) VALUES (3, N'it-IT', N'PigeonCms.EmailContactForm', N'LblInfoAdulti', N'adulti', NULL, 2, 1, NULL)
INSERT [dbo].[#__labels] ([id], [cultureName], [resourceSet], [resourceId], [value], [comment], [textMode], [isLocalized], [resourceParams]) VALUES (4, N'en-US', N'PigeonCms.MenuAdmin', N'LblMenuType', N'Menu type', NULL, 2, 1, NULL)
INSERT [dbo].[#__labels] ([id], [cultureName], [resourceSet], [resourceId], [value], [comment], [textMode], [isLocalized], [resourceParams]) VALUES (6, N'it-IT', N'PigeonCms.MenuAdmin', N'LblMenuType', N'Tipo menu', NULL, 2, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[#__labels] OFF
SET IDENTITY_INSERT [dbo].[#__logItems] ON 

SET IDENTITY_INSERT [dbo].[#__logItems] OFF
SET IDENTITY_INSERT [dbo].[#__memberUsers] ON 

SET IDENTITY_INSERT [dbo].[#__memberUsers] OFF
INSERT [dbo].[#__menu] ([id], [menuType], [name], [alias], [link], [contentType], [published], [parentId], [moduleId], [ordering], [accessType], [overridePageTitle], [referMenuId], [currMasterPage], [currTheme], [cssClass], [visible], [routeId], [permissionId], [accessCode], [accessLevel], [isCore], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [useSsl], [seoId]) VALUES (2, N'mainmenu', N'Default', N'default', N'', 0, 1, 0, 4, 10, 0, 0, 0, N'PigeonModernBlank', N'', N'fa fa-key fa-fw', 0, 1, 0, N'', 0, 1, 0, 0, N'', 0, 2, 1)
INSERT [dbo].[#__menu] ([id], [menuType], [name], [alias], [link], [contentType], [published], [parentId], [moduleId], [ordering], [accessType], [overridePageTitle], [referMenuId], [currMasterPage], [currTheme], [cssClass], [visible], [routeId], [permissionId], [accessCode], [accessLevel], [isCore], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [useSsl], [seoId]) VALUES (31, N'adminmenu', N'Site', N'', N'#', 1, 1, 0, 0, 1, 1, 0, 0, N'', N'', N'fa fa-wrench fa-fw', 1, 6, 0, N'', 0, 1, 0, 0, N'', 0, 2, 13)
INSERT [dbo].[#__menu] ([id], [menuType], [name], [alias], [link], [contentType], [published], [parentId], [moduleId], [ordering], [accessType], [overridePageTitle], [referMenuId], [currMasterPage], [currTheme], [cssClass], [visible], [routeId], [permissionId], [accessCode], [accessLevel], [isCore], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [useSsl], [seoId]) VALUES (32, N'adminmenu', N'sections admin', N'sections', N'', 0, 1, 33, 54, 4, 1, 1, 0, N'', N'', N'', 1, 6, 20, N'', 0, 1, 0, 0, N'', 0, 2, 14)
INSERT [dbo].[#__menu_Culture] ([cultureName], [menuId], [title], [titleWindow]) VALUES (N'en-US', 2, N'', N'')
INSERT [dbo].[#__menu_Culture] ([cultureName], [menuId], [title], [titleWindow]) VALUES (N'en-US', 31, N'Site', N'')
INSERT [dbo].[#__menu_Culture] ([cultureName], [menuId], [title], [titleWindow]) VALUES (N'en-US', 32, N'Sections', N'')
GO
SET IDENTITY_INSERT [dbo].[#__menuTypes] ON 

INSERT [dbo].[#__menuTypes] ([id], [menuType], [title], [description]) VALUES (1, N'mainmenu', N'Main menu (usually front site menu)', N'usually front site menu)')
INSERT [dbo].[#__menuTypes] ([id], [menuType], [title], [description]) VALUES (2, N'adminmenu', N'Admin menu (default backend admin menu)', N'default backend admin menu')
INSERT [dbo].[#__menuTypes] ([id], [menuType], [title], [description]) VALUES (3, N'adminPopups', N'adminPopups (popup or fancy menu entries)', N'popup or fancy menu entries (example: FilesManager instances)')
SET IDENTITY_INSERT [dbo].[#__menuTypes] OFF
INSERT [dbo].[#__modules_Culture] ([cultureName], [moduleId], [title]) VALUES (N'en-US', 1, N'')
INSERT [dbo].[#__modules_Culture] ([cultureName], [moduleId], [title]) VALUES (N'en-US', 4, N'')
INSERT [dbo].[#__modules_Culture] ([cultureName], [moduleId], [title]) VALUES (N'en-US', 7, N'')
INSERT [dbo].[#__modulesMenuTypes] ([moduleId], [menuType]) VALUES (2, N'mainmenu')
INSERT [dbo].[#__modulesMenuTypes] ([moduleId], [menuType]) VALUES (7, N'managerMenu')
INSERT [dbo].[#__modulesMenuTypes] ([moduleId], [menuType]) VALUES (9, N'mainmenu')
INSERT [dbo].[#__permissions] ([id], [rolename]) VALUES (11, N'admin')
INSERT [dbo].[#__permissions] ([id], [rolename]) VALUES (12, N'admin')
INSERT [dbo].[#__permissions] ([id], [rolename]) VALUES (13, N'admin')
INSERT [dbo].[#__placeholders] ([name], [content], [visible]) VALUES (N'Analytics', N'<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src=''" + gaJsHost + "google-analytics.com/ga.js'' type=''text/javascript''%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("analytics code here");
pageTracker._trackPageview();
} catch(err) {}</script>', 1)
INSERT [dbo].[#__placeholders] ([name], [content], [visible]) VALUES (N'CompanyAddress', N'your address 69, city, nation', 1)
INSERT [dbo].[#__placeholders] ([name], [content], [visible]) VALUES (N'credits', N'powered by <a href="https://github.com/picce/pigeoncms" target="_blank">pigeoncms</a>', 1)
INSERT [dbo].[#__roles] ([rolename], [applicationName]) VALUES (N'admin', N'PigeonCms')
INSERT [dbo].[#__roles] ([rolename], [applicationName]) VALUES (N'backend', N'PigeonCms')
INSERT [dbo].[#__roles] ([rolename], [applicationName]) VALUES (N'debug', N'PigeonCms')
INSERT [dbo].[#__routeParams] ([routeId], [paramKey], [paramValue], [paramConstraint], [paramDataType]) VALUES (10, N'action', N'sample', NULL, NULL)
INSERT [dbo].[#__routeParams] ([routeId], [paramKey], [paramValue], [paramConstraint], [paramDataType]) VALUES (10, N'controller', N'home', NULL, NULL)
INSERT [dbo].[#__routeParams] ([routeId], [paramKey], [paramValue], [paramConstraint], [paramDataType]) VALUES (12, N'action', N'NotFound', NULL, NULL)
INSERT [dbo].[#__routes] ([id], [name], [pattern], [published], [ordering], [currMasterPage], [currTheme], [isCore], [useSsl], [assemblyPath], [handlerName]) VALUES (1, N'pages', N'pages/{pagename}', 1, 1, NULL, NULL, 1, NULL, N'', N'')
INSERT [dbo].[#__routes] ([id], [name], [pattern], [published], [ordering], [currMasterPage], [currTheme], [isCore], [useSsl], [assemblyPath], [handlerName]) VALUES (2, N'catalog', N'catalog/{pagename}/{*pathinfo}', 1, 2, N'', N'', 0, 0, N'', N'')
INSERT [dbo].[#__routes] ([id], [name], [pattern], [published], [ordering], [currMasterPage], [currTheme], [isCore], [useSsl], [assemblyPath], [handlerName]) VALUES (3, N'products list by category name', N'products/list/{pagename}/{*categoryname}', 1, 4, N'', N'', 0, NULL, N'', N'')
SET IDENTITY_INSERT [dbo].[#__sections] ON 

INSERT [dbo].[#__sections] ([id], [enabled], [accessType], [permissionId], [accessCode], [accessLevel], [writeAccessType], [writePermissionId], [writeAccessCode], [writeAccessLevel], [maxItems], [maxAttachSizeKB], [cssClass], [itemType], [extId], [seoId]) VALUES (1, 1, 0, 0, N'', 0, 1, 39, N'', 0, 0, 0, N'', N'', N'', NULL)
SET IDENTITY_INSERT [dbo].[#__sections] OFF
INSERT [dbo].[#__sections_Culture] ([cultureName], [sectionId], [title], [description]) VALUES (N'en-US', 1, N'Contents', N'')
INSERT [dbo].[#__sections_Culture] ([cultureName], [sectionId], [title], [description]) VALUES (N'it-IT', 1, N'Contenuti', N'')
SET IDENTITY_INSERT [dbo].[#__seo] ON 

INSERT [dbo].[#__seo] ([id], [resourceSet], [dateUpdated], [userUpdated], [noIndex], [noFollow]) VALUES (1, N'menus', CAST(N'2017-06-21T14:40:06.537' AS DateTime), N'admin', 0, 0)
INSERT [dbo].[#__seo] ([id], [resourceSet], [dateUpdated], [userUpdated], [noIndex], [noFollow]) VALUES (2, N'menus', CAST(N'2017-06-21T14:40:06.520' AS DateTime), N'admin', 0, 0)
INSERT [dbo].[#__seo] ([id], [resourceSet], [dateUpdated], [userUpdated], [noIndex], [noFollow]) VALUES (3, N'menus', CAST(N'2017-06-21T14:40:06.563' AS DateTime), N'admin', 0, 0)
SET IDENTITY_INSERT [dbo].[#__seo] OFF
INSERT [dbo].[#__seo_Culture] ([cultureName], [seoId], [title], [description]) VALUES (N'en-US', 1, N'', N'')
INSERT [dbo].[#__seo_Culture] ([cultureName], [seoId], [title], [description]) VALUES (N'en-US', 12, N'', N'')
INSERT [dbo].[#__seo_Culture] ([cultureName], [seoId], [title], [description]) VALUES (N'en-US', 15, N'', N'')
INSERT [dbo].[#__staticPages] ([pageName], [visible], [showPageTitle]) VALUES (N'error', 1, 1)
INSERT [dbo].[#__staticPages] ([pageName], [visible], [showPageTitle]) VALUES (N'home', 1, 1)
INSERT [dbo].[#__staticPages] ([pageName], [visible], [showPageTitle]) VALUES (N'pageNotFound', 1, 1)
INSERT [dbo].[#__staticPages_Culture] ([cultureName], [pageName], [pageTitle], [pageContent]) VALUES (N'en-US', N'error', N'Ops! An error occurred.', N'<p>The resource you requested caused an error.<br />Go back to&nbsp;<a href="/pages/default.aspx">homepage</a>.</p>')
INSERT [dbo].[#__staticPages_Culture] ([cultureName], [pageName], [pageTitle], [pageContent]) VALUES (N'en-US', N'pageNotFound', N'Page not found', N'<p>The page you are looking for does not exists or is not available.<br /> Try to find it from website <a href="/pages/default.aspx">homepage</a>.</p>')
INSERT [dbo].[#__templateBlocks] ([name], [title], [enabled], [orderId]) VALUES (N'Advert1', N'', 1, 6)
INSERT [dbo].[#__templateBlocks] ([name], [title], [enabled], [orderId]) VALUES (N'Advert2', N'', 1, 9)
INSERT [dbo].[#__templateBlocks] ([name], [title], [enabled], [orderId]) VALUES (N'Advert3', N'', 1, 10)
INSERT [dbo].[#__usersInRoles] ([username], [rolename], [applicationName]) VALUES (N'admin', N'admin', N'PigeonCms')
INSERT [dbo].[#__usersInRoles] ([username], [rolename], [applicationName]) VALUES (N'admin', N'backend', N'PigeonCms')
INSERT [dbo].[#__usersInRoles] ([username], [rolename], [applicationName]) VALUES (N'admin', N'debug', N'PigeonCms')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__labels]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__labels]') AND name = N'IX_#__labels')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__labels] ON [dbo].[#__labels]
(
	[cultureName] ASC,
	[resourceSet] ASC,
	[resourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__memberUsers]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__memberUsers]') AND name = N'IX_#__memberUsers')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__memberUsers] ON [dbo].[#__memberUsers]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__memberUsers_Meta]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__memberUsers_Meta]') AND name = N'IX_#__memberUsers_Meta')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__memberUsers_Meta] ON [dbo].[#__memberUsers_Meta]
(
	[username] ASC,
	[metaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__menuTypes]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__menuTypes]') AND name = N'IX_#__menuTypes')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__menuTypes] ON [dbo].[#__menuTypes]
(
	[menuType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__routes_name]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__routes]') AND name = N'IX_#__routes_name')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__routes_name] ON [dbo].[#__routes]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__routes_pattern]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__routes]') AND name = N'IX_#__routes_pattern')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__routes_pattern] ON [dbo].[#__routes]
(
	[pattern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_#__shop_coupons]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_coupons]') AND name = N'IX_#__shop_coupons')
CREATE UNIQUE NONCLUSTERED INDEX [IX_#__shop_coupons] ON [dbo].[#__shop_coupons]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXssn_#__shop_customers]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_customers]') AND name = N'IXssn_#__shop_customers')
CREATE NONCLUSTERED INDEX [IXssn_#__shop_customers] ON [dbo].[#__shop_customers]
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXvat_#__shop_customers]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_customers]') AND name = N'IXvat_#__shop_customers')
CREATE NONCLUSTERED INDEX [IXvat_#__shop_customers] ON [dbo].[#__shop_customers]
(
	[vat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXOrderRef_#__shop_orderHeader]    Script Date: 21/06/2017 15:38:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[#__shop_orderHeader]') AND name = N'IXOrderRef_#__shop_orderHeader')
CREATE UNIQUE NONCLUSTERED INDEX [IXOrderRef_#__shop_orderHeader] ON [dbo].[#__shop_orderHeader]
(
	[orderRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
